{% extends 'main/base.html' %}

{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href=" {% static 'main/css/index.css'%}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h2 class="zagolovok">Востребованность</h2>
{% endblock %}

{% block table2 %}
{% for el in demand %}
        <table class="table">
            <tr>
                <td>{{ el.year }}</td>
                <td>{{ el.salaryPerYear }}</td>
                <td>{{ el.amountOfVacancies }}</td>
                <td>{{ el.managerSalaryPerYear }}</td>
                <td>{{ el.managerAmountOfVacancies }}</td>
            </tr>
        </table>
{% endfor %}
{% endblock %}