{% extends 'main/base.html' %}

{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href=" {% static 'main/css/index.css'%}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="boss">
        <h1  align="center">Руководитель IT-проектов</h1>
        <section class="section">
             <h2 class="h2">Менеджер ИТ-проекта – кто это</h2>
             <p class="text">Менеджер проекта — это тот, кто отвечает за успешную реализацию идеи или задачи силами одной или нескольких команд, внутренних и/или внешних, в рамках бюджета и в установленные сроки. Для этого он организует работу команды, управляет ею — определяет цели, делегирует полномочия, взаимодействует с другими командами, заказчиками и подрядчиками.  </p>
        </section>
        <section>
            <h2>Миф vs реальность</h2>
            <p class="text">Многие считают, что профессия менеджера ИТ-проекта доступная и несложная для освоения людьми не из ИТ-области. Зачастую профессионалы из смежных сфер, которые имеют опыт руководства проектами, начинают претендовать на подобные роли и в ИТ. Но это обоснованно только отчасти, сходство с другими руководителями проектов заключается лишь в менеджерских компетенциях.
На деле оказывается, что для достижения качественного результата важно глубоко понимать специфику разработки ПО, инструментарий, методы тестирования, инструменты системного анализа, иногда даже особенности архитектуры продукта (если в команде нет Tech Lead, готового прийти на помощь). Таким опытом, навыками и компетенциями обычно обладают только люди, вышедшие из сферы ИТ, которые готовы развиваться дальше и делать карьеру.</p>
        </section>
    </div>
    {% for el in tasks %}
        <div class="alert alert-warning mt-2">
            <h3>{{ el.title }}</h3>
            <p>{{ el.task }}</p>
        </div>
    {% endfor %}
{% endblock %}
